################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ark Ascended Manager/FileContentIndex/4deecc39-fed2-4d38-8e85-76e09d05ec43.vsidx
/.vs/Ark Ascended Manager/FileContentIndex/6cea38ae-1972-46f7-abe0-18dab10e0b2d.vsidx
/.vs/Ark Ascended Manager/FileContentIndex/b580da70-f6c5-498f-b14c-cb0e8c726e31.vsidx
/.vs/Ark Ascended Manager/FileContentIndex
/Ark Ascended Manager/obj/Debug/net7.0-windows
